<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-agent-heading"
        data-cy="AgentCreateUpdateHeading"
        style="font-family: 'Times New Roman', Times, serif; display: flex; font-size: 40px"
      >
        Créer ou éditer un Agent
      </h2>

      <div style="background-color: #f9f9f9; margin-bottom: 10px">
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id" style="font-family: Arial, Helvetica, sans-serif">#</label>
          <input
            type="number"
            class="form-control"
            name="id"
            id="field_id"
            data-cy="id"
            formControlName="id"
            [readonly]="true"
            style="border: 3px solid #ccc"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_matricule" style="font-family: Arial, Helvetica, sans-serif">Matricule</label>
          <input
            type="text"
            class="form-control"
            name="matricule"
            id="field_matricule"
            data-cy="matricule"
            formControlName="matricule"
            style="border: 3px solid #ccc"
          />
          <div *ngIf="editForm.get('matricule')!.invalid && (editForm.get('matricule')!.dirty || editForm.get('matricule')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('matricule')?.errors?.required">Veuillez remplir le champ</small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_nom" style="font-family: Arial, Helvetica, sans-serif">Nom</label>
          <input
            type="text"
            class="form-control"
            name="nom"
            id="field_nom"
            data-cy="nom"
            formControlName="nom"
            style="border: 3px solid #ccc"
          />
          <div *ngIf="editForm.get('nom')!.invalid && (editForm.get('nom')!.dirty || editForm.get('nom')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('nom')?.errors?.required">Veuillez remplir le champ</small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_prenom" style="font-family: Arial, Helvetica, sans-serif">Prenom</label>
          <input
            type="text"
            class="form-control"
            name="prenom"
            id="field_prenom"
            data-cy="prenom"
            formControlName="prenom"
            style="border: 3px solid #ccc"
          />
          <div *ngIf="editForm.get('prenom')!.invalid && (editForm.get('prenom')!.dirty || editForm.get('prenom')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('prenom')?.errors?.required">Veuillez remplir le champ</small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dateNaissance" style="font-family: Arial, Helvetica, sans-serif">Date Naissance</label>
          <div class="d-flex">
            <input
              id="field_dateNaissance"
              data-cy="dateNaissance"
              type="datetime-local"
              class="form-control"
              name="dateNaissance"
              formControlName="dateNaissance"
              placeholder="YYYY-MM-DD"
              style="border: 3px solid #ccc"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_lieuNaissance" style="font-family: Arial, Helvetica, sans-serif">Lieu Naissance</label>
          <input
            type="text"
            class="form-control"
            name="lieuNaissance"
            id="field_lieuNaissance"
            data-cy="lieuNaissance"
            formControlName="lieuNaissance"
            style="border: 3px solid #ccc"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_nationalite" style="font-family: Arial, Helvetica, sans-serif">Nationalite</label>
          <input
            type="text"
            class="form-control"
            name="nationalite"
            id="field_nationalite"
            data-cy="nationalite"
            formControlName="nationalite"
            style="border: 3px solid #ccc"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_telephone" style="font-family: Arial, Helvetica, sans-serif">Telephone</label>
          <input
            type="text"
            class="form-control"
            name="telephone"
            id="field_telephone"
            data-cy="telephone"
            formControlName="telephone"
            style="border: 3px solid #ccc"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_adresse" style="font-family: Arial, Helvetica, sans-serif">Adresse</label>
          <input
            type="text"
            class="form-control"
            name="adresse"
            id="field_adresse"
            data-cy="adresse"
            formControlName="adresse"
            style="border: 3px solid #ccc"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="appApp.Agent.poste" for="field_poste" style="font-family: Arial, Helvetica, sans-serif"
            >Poste</label
          >
          <select
            class="form-control"
            id="field_poste"
            data-cy="poste"
            name="poste"
            formControlName="poste"
            [compareWith]="comparePoste"
            style="border: 3px solid #ccc"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="posteOption" *ngFor="let posteOption of postesSharedCollection">{{ posteOption.libelle }}</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dateDece" style="font-family: Arial, Helvetica, sans-serif">Date Dece</label>
          <div class="d-flex">
            <input
              id="field_dateDece"
              data-cy="dateDece"
              type="datetime-local"
              class="form-control"
              name="dateDece"
              formControlName="dateDece"
              placeholder="YYYY-MM-DD"
              style="border: 3px solid #ccc"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_causeDece" style="font-family: Arial, Helvetica, sans-serif">Cause Dece</label>
          <input
            type="text"
            class="form-control"
            name="causeDece"
            id="field_causeDece"
            data-cy="causeDece"
            formControlName="causeDece"
            style="border: 3px solid #ccc"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span
            style="font-family: Arial, Helvetica, sans-serif; background-color: #000103; color: #fff"
            >Annuler</span
          >
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span
            style="font-family: Arial, Helvetica, sans-serif; background-color: #000103; color: #fff"
            >Enregistrer</span
          >
        </button>
      </div>
    </form>
  </div>
</div>
